@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: "Rubik";
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;;
    background-image: url("images/dom.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

@media (max-width: 1200px) {
    body {
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

p {
    font-size: 36px; 
    color: white;
    font-style: normal; 
    font-weight: 300;
}

.left_section {
    position: absolute;
    left: 53px;
    top: 45px;
}

.left_section .menu { 
    display: none;
}

@media (max-width: 1200px)  {
    .left_section {
        display: flex;
        justify-content: space-between;
        position:initial;
        margin: 0;
        padding: 22px 50px 23px 38px;
        backdrop-filter: blur(10px);
    }

    .left_section .menu {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px, white;
}

    .left_section .menu  .menu_burger {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    background-color: white;
    margin: 25px 0px;
}

    .menu_burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    background-color: white;
    margin: 0;
    transform: translateY(17px);
}

/*Animacja*/

.menu.open .menu_burger {
    transform: rotate(45deg) translate(0px, 15px);
}

.menu.open .menu_burger::after {
    transform: rotate(90deg) translate(0px, 0px);
    width: 40px;
}
}

.left_section .menu-items { 
    display: none;
}

@media (max-width: 1200px) { 
    .left_section .menu-items { 
        display: flex;
        gap: 150px;
        position: absolute;
        left: 50px;
        top: 10px; 
        cursor: pointer;
        transition: all 0.5s;
    }
    .left_section .menu-items-hidden { 
        transform: translateY(-500px);
    }
    .left_section .chicago-hidden{
        transform: translateX(-500px);
    }
}

.left_section h2 {
    color: white;
    font-size: 64px;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 1200px) { 
    .left_section h2 {
    transition: all 0.5s;
}
}

.right_section {
    display: flex;
    flex-direction: column;
    width: 783px;
    height: 100vh;
    padding: 35px 69px 64px; 
    position: absolute;
    right: 90px;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

@media (max-width: 1200px)  {
    .right_section {
        width: auto;
        height: auto;
        position: initial;
        right: 0;
        /*top: 366px;
         bottom: 468px; */
        padding: 0px;
}
}

.right_section .top {
    display: flex;  
    justify-content: space-between;
} 

.right_section .top #home { 
    cursor: pointer;
}

.right_section .top #about { 
    text-align: center;
    cursor: pointer;
}

.right_section .top #contact { 
    text-align: end;
    cursor: pointer;
}

@media (max-width: 1200px)  {
    .right_section .top {
        display: none;
    }
}

.right_section .middle h1 {
    color:  white;  
    font-size: 64px;
    font-weight: 400 bold;
    font-style: normal;
    margin: 0px 0px 30px;
}

@media (max-width: 1200px)  {
    .right_section h1 {
        position: initial;
        margin: 0;
        padding: 75px 0px 12px 60px;
}
}

.right_section .middle p {
    width: 631.42px;
    left: 1115.55px;
    font-weight: 300;
    font-size: 30px;
    line-height: 160%;
    color: white; 
    margin: 0px 0px 66px;
}

@media (max-width: 1200px)  {
    .right_section .middle-home p {
    position: initial;
    margin: 0px;
    padding: 0px 0px 66px 60px; 
    width: auto;
    }
}

.right_section .middle-about p {
    width: 631.42px;
    left: 1115.55px;
    font-weight: 300;
    font-size: 30px;
    line-height: 160%;
    color: white; 
    margin: 0px 0px 10px;
}

.right_section .middle-about h1 {
    color:  white;  
    font-size: 64px;
    font-weight: 400 bold;
    font-style: normal;
    margin: 0px 0px 10px;
}

@media (max-width: 1200px)  {
    .right_section .middle-about p {
        position: initial;
        margin: 0px;
        padding: 0px 0px 66px 60px; 
        width: auto;
    }

    .right_section .middle-about h1 {
        font-size: 50px;
        position: initial;
        margin: 0;
        padding: 40px 0px 12px 60px;
    }

}

.right_section ul {
    width: 631.42px;
    left: 1115.55px;
    font-weight: 300;
    font-size: 30px;
    line-height: 160%;
    color: white; 
    margin: 0px 0px 20px;
}

@media (max-width: 1200px)  {
    .right_section ul {
        position: initial;
        width: auto;
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px 80px; 
        width: auto;
    }
    .right_section .middle-about p {
        position: initial;
        width: auto;
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 20px 60px; 
        width: auto;
    }
}

.right_section .middle .readMore {
    background-color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 8px 69px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    width: 270px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 1200px)  {
    .right_section .middle-home .readMore {
        margin: 0px 0px 40px 59px;  
        padding: 8px 50px;
    }
}

.right_section .bottom {
    display: flex;
    justify-content: flex-end;
    gap: 23px; 
}

.right_section .bottom img {
    width: 54px;
    height: 56px;
}

@media (max-width: 1200px)  {
    .right_section .bottom {
        display: none;
    }
}

.basement {
    display: none;
}

@media (max-width: 1200px)  {
    .basement {
        display: flex;
        justify-content: flex-end;
        gap: 23px;
        padding: 0px 26px 33px 0px; 
    }
    .basement img {
        width: 54px;
        height: 56px;
    }
}